.Hceow91xTljgfNnREPvzh{
	margin: 5px;
	padding: 5px;
	border: 1px solid grey;
}
._2OfeKO3TVmRzeZkJDnwYiO{
	margin: 15px;
	padding: 5px;
}
.xrY0CKgFWFa_ThW2DcXzC{
	color: blue;
	margin: 5px;
}
.XZ6brFAbgCiDKeQ3AaNxS{
	margin: 10px;
	padding: 10px;
}
._1pv94IXt7PdidGxwdEqn3s{
	margin: 5px;
	padding: 5px;
}
.AaijhfbCDFSKwTeDPCs3Z{
	padding: 10px;
	color: red;
}
.MdFMD-Vf-Koq2EOtVFFiS{
    margin: 5px;
}
